# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env*
!.env.example

# Vercel
.vercel/

#Velite
.velite/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp